extends layout

block content
	h1 #{game.away.market} #{game.away.name} vs #{game.home.market} #{game.home.name}
	p= buttonWasLastPressed ? buttonWasLastPressed : ""
	form(method='post' action='/buttonPage/' + game.id )
		button  Hurry up