extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each game in games
      li
        a(href="/buttonPage/" + game.id ) #{game.away.market} #{game.away.name} vs #{game.home.market} #{game.home.name}

